{% extends 'layouts/default.twig' %}

{% block body %}
  <h1>Home</h1>

  <p>Ipsum esse consequat fugiat nostrud. Duis occaecat dolor enim in ad Lorem duis esse aliquip cupidatat exercitation. Eiusmod veniam officia ipsum in veniam qui quis eu consequat nulla pariatur. Voluptate magna eiusmod do amet anim exercitation reprehenderit laborum consectetur dolore occaecat proident. Amet non voluptate fugiat fugiat laboris magna nulla anim ea.</p>
{% endblock %}